<h1>
  Welcome to {{ title }}!
</h1>
<br>

<div class="center">
  <a routerLink="/mat-form-field1">< Page 1</a>
  <a routerLink="/mat-form-field2">< Page 2</a>
  <a routerLink="/mat-form-field3">< Page 3</a>
  <a routerLink="/mat-form-field4">< Page 4</a>
  <a routerLink="/mat-form-field5">< Page 5</a>
 
  
</div>
<br>
<mat-divider></mat-divider>

<p>Test data from jsonplaceholder.typicode.com</p>
<button (click)=CallOnMe(1)>Show Name</button>
<button (click)=CallOnMe(2)>Show email</button>
<button (click)=CallOnMe(3)>Show city</button>
  <p>Result: {{result}}</p>